.blank_signup{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    width: 85%;
}

.label_signup{
    margin-right: 8px;
}

.submit_btn{
    margin-top: 50px;
}

.signup_footer{
    font-size: 10px;
    margin-top: 50px;
   
}


    
